<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TeeMe.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0DBBFA4426DEB99EF6C2A0F36AB53F2123AE2F61</string>
				<key>dateExpires</key>
				<string>4/10/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0DBBFA4426DEB99EF6C2A0F36AB53F2123AE2F61</string>
						<key>dateExpires</key>
						<string>4/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BFF5BJ55C2</string>
						<key>name</key>
						<string>Joseph Brinker</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0DBBFA4426DEB99EF6C2A0F36AB53F2123AE2F61</string>
						<key>dateExpires</key>
						<string>4/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BFF5BJ55C2</string>
						<key>name</key>
						<string>Joseph Brinker</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0DBBFA4426DEB99EF6C2A0F36AB53F2123AE2F61</string>
						<key>dateExpires</key>
						<string>4/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BFF5BJ55C2</string>
						<key>name</key>
						<string>Joseph Brinker</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0DBBFA4426DEB99EF6C2A0F36AB53F2123AE2F61</string>
						<key>dateExpires</key>
						<string>4/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BFF5BJ55C2</string>
						<key>name</key>
						<string>Joseph Brinker</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0DBBFA4426DEB99EF6C2A0F36AB53F2123AE2F61</string>
						<key>dateExpires</key>
						<string>4/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BFF5BJ55C2</string>
						<key>name</key>
						<string>Joseph Brinker</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0DBBFA4426DEB99EF6C2A0F36AB53F2123AE2F61</string>
						<key>dateExpires</key>
						<string>4/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BFF5BJ55C2</string>
						<key>name</key>
						<string>Joseph Brinker</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0DBBFA4426DEB99EF6C2A0F36AB53F2123AE2F61</string>
						<key>dateExpires</key>
						<string>4/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BFF5BJ55C2</string>
						<key>name</key>
						<string>Joseph Brinker</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0DBBFA4426DEB99EF6C2A0F36AB53F2123AE2F61</string>
						<key>dateExpires</key>
						<string>4/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BFF5BJ55C2</string>
						<key>name</key>
						<string>Joseph Brinker</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BFF5BJ55C2.name.joeybrinker.TeeMe</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.name.joeybrinker.TeeMe</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>BFF5BJ55C2</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>BFF5BJ55C2.name.joeybrinker.TeeMe</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TeeMe.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e90cc975-13e4-4dbe-a32f-bbd60c280dd5</string>
				<key>dateExpires</key>
				<string>4/10/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: name.joeybrinker.TeeMe</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BFF5BJ55C2</string>
				<key>name</key>
				<string>Joseph Brinker</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
